#about {
    header {
        background: linear-gradient(to bottom right, rgba(46,46,46,0.6), rgba(46,46,46,1)), url("../assets/about-header.mp4") no-repeat center;
        background-size: cover;

        position: relative;
        video.about-header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom right, rgba(46,46,46,0.6), rgba(46,46,46,1));
        }
    }

    section {
        padding: 8rem 0;

        .row {
            flex-direction: row-reverse;
            align-items: center;
        }

        p {
            width: 60%;
            margin: auto;
        }

        &.vision {
            background-color: $highlight;
            color: $white;
            text-align: center;
        }

        &.mission {

            ul {
                width: 40%;
                margin: auto;
            }
            li {
                margin: 1.3rem 0;
            }

            span {
                font-weight: bold;
                // font-size: 1.3rem;
            }

            .img-container {
                img {
                    object-fit: cover;
                    height: 500px;
                    width: auto;
                }
            }
        }

        &.community {
            video {
                height: 700px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}