// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

// Global Variables
$font: 'Open Sans';
$h1: 50px;
$h2: 46px;
$h4: 26px;
$btn-text: 18px;

$highlight: #0075A2;
$text: #2E2E2E;
$white: #FFFFFF;
$btn-hover: #0685B6;

body {
    font-family: $font, sans-serif;
    width: 100%;

    // Typography

    h1 {
        font-size: $h1;
        text-align: center;
        padding-bottom: 2rem;
        position: relative;
        z-index: 1;
    }

    h2 {
        font-size: $h2;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    h4 {
        font-size: $h4;
        font-weight: bold;
        padding-bottom: 1rem;
        padding-bottom: 0.4rem;
    }

    // Alignment

    .right-align {
        text-align: right;
    }

    .left-align {
        text-align: left;
    }

    .center-align {
        text-align: center;
    }

    .content-wrapper {
        width:95%;
        margin:auto;
    }

    .btn {
        border-radius: 5px;
    }

    .btn-outline {
        padding: 0.5rem 2rem;
        border: 2px solid $white;

        &:hover, &:focus, &:active {
            color: $highlight;
        }
        
        &:before {
            background: $white;
            border-radius: 0.3rem;
        }
    }

    .btn-cta {
        background: $highlight;
        padding: 0.6rem 2rem;
        font-size: $btn-text;
        border: transparent;

        &:hover, &:focus, &:active {
            color: $white;
        }

        &:before {
            background: $btn-hover;
            border-radius: 0.5rem;
        }
    }

    .hover-btn {
        border-radius: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .hover-btn:before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 0;
        left: 50%;
        top: 0;
        opacity: 0;
        transition: width 0.5s ease 0s, left 0.5s ease 0s, opacity 0.5s ease 0s;
    }

    .hover-btn:hover:before, .hover-btn:focus:before, .hover-btn:active:before {
        left: 0;
        width: 100%;
        opacity: 1;
    }

    .row {
        display: flex;
        justify-content: space-evenly;
    }
}

.stop-scroll {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 100vh;
    color: $white;
    font-weight: bold;
    position: relative;

    #open-menu {
        visibility: hidden;
    }

    nav .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 1rem 0;
        height: 10vh;

        a.logo {
            width: 30%;

            img {
                height: 50px;
                width: auto;
            }
        }

        .nav-links {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // width: 90%;
        }

        ul {
            width: 50%;
            display: flex;
            justify-content: space-around;

            li a {
                padding: 1rem;
                position: relative;

                &:hover {
                    color: unset;
                }
            }

            li a:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 5px;
                left: 50%;
                position: absolute;
                background: $highlight;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            li a:hover:after {
                width: 100%;
                left: 0;
            }

            li a.is-active:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 5px;
                left: 0;
                position: absolute;
                background: $highlight;
                width: 100%;
            }

            li a.is-active {
                cursor: default;
            }
        }
    }
    .header-text {
        position: absolute;
        top: 10vh;
        left: 0;
        height: 90vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

footer {
    background-color: $highlight;
    color: $white;

    .row {
        align-items: flex-start;
        padding: 5rem 0;
    }

    a:hover {
        color: $text;
    }

    .brand {
        width: 25%;
    }

    .links {
        a {
            transition: 0.3s ease-in-out;
        }
        a.is-active {
            font-weight: bold;

            &:hover {
                color: unset;
            }
        }
        li {
            line-height: 3rem;
        }
    }

    .connect {
        p {
            font-weight: bold;
        }
        ul {
            font-size: 1.7rem;
            padding-top: 0.5rem;
            
            a {
                margin: 0 2px;
                transition: 0.5s ease-in-out;
            }
        }
    }
}



// Partials
@import "home", "about", "locations", "sermons";



#contact {
    header {
        background: linear-gradient(to bottom right, rgba(46,46,46,0.4), rgba(46,46,46,1)), url("../assets/contact-header.jpg") no-repeat center;
        background-size: cover;
        height: 60vh;

        .header-text {
            margin-top: 8%;
        }
    }

    section.contact-form {
        padding: 4rem 0;

        form {
            width: 80%;
            margin: auto;
        }

        .modal-content {
            width: 80%;
        }
    }
}





@media screen 
and (min-device-width: 320px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .menuNavBG {
        background-color: $text;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 10vh;
        flex-direction: column;
        height: 90vh;
        width: 100%;
        background-color: $text;
        z-index: 9;
        transform: translateY(-120%);
        opacity: 0;
        transition: ease-in-out 0.6s;
        

        ul {
            flex-direction: column;
            align-items: center;
            height: 80%;
            width: 100%;
        }

        .btn-container {
            width: 90%;
            margin: auto;

            a#connect-btn {
                width: 100%;
            }
        }
    }

    .nav-active {
        transform: translateY(0);
        opacity: 1;
    }

    .hide-header {
        position: relative;
        z-index: -1;
    }

    // ------------------------------------------- Burger -------------------------------------------

    #menuBurger {
        display: block;
        width: 35px;
        height: 23px;
        position: relative;
        // margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $white;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
    }
    
    #menuBurger span:nth-child(1) {
        top: 0px;
      }
      
      #menuBurger span:nth-child(2),#menuBurger span:nth-child(3) {
        top: 10px;
      }
      
      #menuBurger span:nth-child(4) {
        top: 20px;
      }
      
      #menuBurger.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      
      #menuBurger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #menuBurger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #menuBurger.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

    // ------------------------------------------------------------------------------------------------

    .row {
        flex-flow: column;
    }

    .content-wrapper {
        width: 95%;
    }

    .btn {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    header {
        .content-wrapper {
            justify-content: space-between;
        }
    }

    footer {
        text-align: center;
        font-size: 20px;

        .row {
            align-items: center;

            .brand {
                width: 90%;
                margin: auto;
            }

            div {
                margin: 2rem 0;
            }

            .connect i {
                font-size: 2.3rem;
                margin: 0.2rem 0.4rem;
            }
        }
    }

    // --------------------------------------------------- Home --------------------------------------------------------------

    #home {
        section.livestream {
            .row {
                flex-direction: column;
            }

            .live {
                a.chat-btn {
                    display: block;
                    margin: 1.6rem auto;
                    width: 80%;
                }

                .live-vid {
                    height: 30vh;
                    width: 100%;
                }

                .live-chat {
                    height: 0;
                    width: 100%;
                    transition: ease-in-out 0.3s;

                    &.open {
                        height: 35vh;
                    }
                }
            }
            .img-container {
                width: 100%;
            }
            h2, li {
                text-align: center;
            }
        }

        section.home {
            p {
                width: 90%; 
                margin: auto
            }
        }

        section.banner {
            margin: 0 1rem;
        }
    }

    // --------------------------------------------------- About --------------------------------------------------------------

    #about {
        section.vision {
            p {
                width: 95%;
            }
        }

        section.mission {
            ul {
                width: 90%;
            }
        }

        section.community {
            video {
                height: 500px;
            }
        }
    }

    // --------------------------------------------------- Locations --------------------------------------------------------------

    #locations {
        section.main {
            .right-align, .left-align {
                text-align: center;
            }

            .row {
                padding: 2rem 0;
            }

            .img-container {
                width: 40%;
            }

            ul.socials {
                text-align: left;
                width: fit-content;
                margin: auto;
            }

            ul.timings {
                margin: 2rem 0;
            }

            section.me {
                .row {
                    flex-direction: column-reverse;
                }
            }
        }
    }

    // --------------------------------------------------- Sermons --------------------------------------------------------------

    #sermons {

        section.videos {
            .wrapper {
                width: 90%;
                margin: auto;

                .row {
                    margin: 0;
                }

                .grid {
                    grid-template-columns: 1fr;
                    row-gap: 4rem;

                    .video-container {
                        .overlay {
                            opacity: 1;
                        }
                    }
                }
            }

            .modal-video {
                .modal-content {
                    width: 90%;
                    margin: auto;
                    
                    .wrapper {
                        height: 100vh;
                        align-items: center;

                        iframe {
                            width: 720px;
                            height: 360px;
                        }
                    }
                }
            } 
        }
    }

    // --------------------------------------------------- Contact --------------------------------------------------------------
    #contact {
        .button {
            width: 100%;
        }
    }

}